# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
.vscode
/public/images/products
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env*.local
.env
.swc
*.zip

# vercel
.vercel

# typescript
*.tsbuildinfo
